* {
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Mobile CSS */
.main-card{
    width: 100%;
    border: 1px red dotted;
}
.main-img {
    width: 100%;
}



/* MOBILE */
.dtp {
    display: hidden;
}
.mob{
    display: block;
}

@media (min-width: 1440px) {
    /* Desktop CSS */
    
    /* DESKTOP */
    .mob {
        display: hidden;
    }
    .dtp {
        display: block;
    }
}