.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
:root {
    /* Colors */
    --Csoft-orange: hsl(35, 77%, 62%);
    --Csoft-red: hsl(5, 85%, 63%);
    --Coff-white: hsl(36, 100%, 99%);
    --Cgrayish-blue: hsl(233, 8%, 79%);
    --Cdark-greyish-blue: hsl(236, 13%, 42%);
    --Cvery-dark-blue: hsl(240, 100%, 5%);

    --pSize: 15px;

    /* fonts  */
    --lWheigth: 400;
    --mWheight: 700;
    --hWheight: 800;
}
* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body{
    padding-left: 5px;
    padding-right: 5px;
}

.mob-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}
.burguer-menu-img{
    display: flex;
    width: 40px;
    height: 40px;
    object-fit: contain;
    flex-shrink: 0;
}

.banner-container{
    background: 50% 50% no-repeat;
    display: flex;
    width: auto;
}

.mob-banner{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    font-size: xx-large;
    font-weight: var(--hWheight);
    font-weight: bolder;
}

p {
    color: var(--Cdark-greyish-blue);
    font-size: var(--pSize);
}

.read-more-btn{
    background-color: var(--Csoft-red);
    color: var(--Coff-white);
    appearance: none;
    border: none;
    font-weight: var(--lWheigth);
    font-size: x-small;

    --padTopBot: 10px;
    padding-top: var(--padTopBot);
    padding-bottom: var(--padTopBot);
    padding-left: calc(var(--padTopBot) * 1.7);
    padding-right: calc(var(--padTopBot) * 1.7);
    letter-spacing: 5px;
}

/* DARK CARD */
.dark-card{
    --margins: 40px;
    --padLats: 10px;
    background-color: var(--Cvery-dark-blue);
    
    padding: 15px;
    margin-top: var(--margins);
    margin-bottom: var(--margins);
}
.dark-card h2{
    color: var(--Csoft-orange);
    margin: auto;
}

.dark-card article h4{
    color: var(--Coff-white);
}
.dark-card article p{
    margin: auto;
}

/* LIGHT CARD */
.light-card {
    display: flex;
    flex-direction: column;
}
.light-article {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    margin-bottom: 20px;
    width: 90%;
    height: fit-content;
}

.light-card .light-article .little-img{
    /* ! */
    /* flex-basis: 50px; */
    width: 40%;
    aspect-ratio: auto;
    margin-right: 10px;
    
}
.light-txt-sec{
    /* flex-basis: 100px; */
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
}

.light-card .light-article .num-head{
    color: var(--Cgrayish-blue);
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.light-card .light-article h4{
    margin-top: auto;
    margin-bottom: auto;
}

/* ---- mobile ---- */
.dtp {
    display: none;
}
.mob{
    display: block;
}

/* capaz mejor cambiar a 1024px? */
@media (min-width: 1440px) {
    /* desktop */
    .mob {
        display: none;
    }
    .dtp {
        display: block;
    }
}